<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Home</h2>
    <h2><a href="./response">Submit your details</a></h2>
<table border="1">
    <tr>
        <td>S/N</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
    </tr>
{% for user in users %}
    <tr>
        <td>{{user['id']}}</td>
        <td>{{user['name']}}</td>
        <td>{{user['email']}}</td>
        <td>{{user['phone_number']}}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>