<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Response</h2>
    <h2><a href="./">Go home</a></h2>
<form action="./response" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <br>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email">
    <br>
    <label for="number">Number:</label>
    <input type="tel" name="number" id="number">
    <br>
    <input type="submit" value="Submit">
</form>
</body>
</html>